<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="BTRun.Properties.Settings.BTDatabaseConnectionString"
         connectionString="Data Source=201.168.1.7;Initial Catalog=BTDatabase;Persist Security Info=True;User ID=sa;Password=Pass@word1"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>